body {
    background-color: gray;
}
p {
    background-color: #D9D2E9;
    display: inline-block;
    padding: 50px;
    border: 10px solid #334046;
    margin-left: 50px;
    text-align: center;
}

p.one {
    box-shadow: 5px 5px 5px 5px #777777
}

h3 {
    margin-top: 100px;
}